:root {
  --main-bg-color: #fcfffd;
  --secondary-bg-color: #e8e8ee;
  --hoverSecondary-bg-color: #c3c3cf;
  --accent-purple: #381233;
  --secondary-purple: #978795;
  --input-bg-color: #F5F5F8;


}



html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.inputs-aside {
  display: flex;
  width: 544px;
  height: 100%;
  padding: 48px 32px 72px 32px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--main-bg-color);
  font-family: "Inter", sans-serif;
  gap: 32px;
  overflow-y: auto;
}

.divider {
  border-top: 1px solid var(--hoverSecondary-bg-color);
  width: 100%;
  margin: 12px 0px;
}

.inputLabel-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  width: 100%;
}

.frameSelection-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.frameSelection-input {
  display: flex;
  height: 64px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 2px solid #4d1b46;
  color: #4d1b46 !important;
  cursor: pointer !important;
  transition: 0.2s;
}

.frameSelection-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
}

label,
.leadDescription {
  font-size: 14px;
  font-weight: bold;
  line-height: 100%;
}

.minorDescription {
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
}

.active {
  opacity: 1 !important;
}
.deactivated {
  opacity: 0.5;
  transition: 0.2s;
}

.frameSelection-input:hover {
  opacity: 0.7;
  transition: 0.2s;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: var(--secondary-bg-color);
  outline: none;
  opacity: 0.8;
  transition: 0.2s;
  margin: 12px 0;
}

.slider:hover {
  background: var(--hoverSecondary-bg-color);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 99999999px;
  background: var(--accent-purple);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 99999999px;
  background: var(--accent-purple);
  cursor: pointer;
}

.sliderDescription {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  color: var(--secondary-purple);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-input{
  display: flex;
  height: 44px;
  padding: 10px 16px;
  align-items: start;
  gap: 4px;
  align-self: stretch;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid var(--secondary-bg-color);
  background: var(--input-bg-color);
  resize: none;
}

.textArea{
  height: 88px;

}




main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1 0 0;
  align-self: stretch;
  background: url(img/canvas-bg.png) lightgray 50% / cover no-repeat;
}

canvas {
  display: block;
  height: fit-content !important;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
}
